*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

header{
    background-color: #3db36b;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #0f642f;

}

/*footer*/
footer{
    background-color: #3db36b;
    color: #fff;
    border-top: 3px solid #0f642f;
    text-align: center;
    padding: 70px;
}